# CMake 生成的文件
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
release/

# Visual Studio 相关
*.vcxproj*
*.vcxproj.filters
*.sln
*.pdb
*.obj
*.user
*.ipch
.vscode

# 临时文件
*.log
*.tmp
*.exe

*.zip

# Python
__pycache__/
*.pyc

# Environment
.env
venv/
env/

# Config files
config.py